body {
  margin: 0;


  /*noinspection CssUnknownTarget*/
  background: url("/images/backgroundImage.jpg") no-repeat center;
  background-size: cover;
  backdrop-filter: grayscale(.6);
  min-height: 100vh;
  max-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fullScreenHeight{
   height: 100vh;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexDirectionColumn{
  flex-direction: column;
}