body {
  margin: 0;



  background: url("/images/backgroundImage.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  backdrop-filter: grayscale(.6);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
